.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
  background-color: lightgray;
  color: #fff;
  text-transform: uppercase;
  transition: all .05s ease-in-out;
  outline: none;

  &--success {
    background-color: #2bbbad;
  }

  &--danger {
    background-color: orangered;
  }

  &--disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }

  &:hover:not(&--disabled) {
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
    transform: translateY(-1px)
  }

  &:active:not(&--disabled) {
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3);
    transform: translateY(0)
  }
}