  
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border-color: transparent;
  transition: 'all .2s ease-in-out';
  outline: none;
}